.tip {
  display: flex;
  .tipOne {
    width: 80px;
    background: rgb(185, 48, 48);
    // border-top-left-radius: 30px;
    // border-bottom-left-radius: 30px;
    font-size: 12px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    padding: 2px 0;
    transform: rotate3d(180);
  }
}
